.profileBG {
    background-image: linear-gradient(to bottom right, 
        rgba(138, 35, 135, 1), 
        rgba(233, 64, 87, 0.8), 
        rgba(242, 113, 33, 0.8)), 
        url(lawfirm1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 1px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

    .navbar-wagon {
        position: absolute;
        top: 0px;
    }
}

p {
    width: 500px;
    color: white;
    text-align: center;
}