<div class="profileBG">
	<%= render 'shared/navbar' %>
	<p>Ici on retrouvera la page profil de l'utilisateur <%= @user.email %>, avec la possibilité de témoigner/communiquer des documents, etc ...</p>
	<h2>BOOYA</h2>
</div>